nav{
	position: fixed;
	background-color: #D3D3D3;
	height: 50px;
	width: 100%;
	right: 0;
	top: 0px;
}

 a{
	text-decoration: none;
}

a:visited{
	color: blue;
}

nav a:hover {
	color:green;
	font-size: 23px;
}

nav p{
	font-size: 20px;
	padding-left: 5px;
	padding-bottom: 5px;
	float: left;
}

ul{
	list-style: none;
	text-align: right;
}

li{
	padding-right: 10px;
	display: inline-block;
}

main {
  	padding-top: 100px;
  	min-width: 1000px;
}

main a{
	text-decoration: none;
	color: black;
}

main p{
	color:#909090 ;
}

.fa-star{
	display: inline-block;
}

.fa-star:hover{
	color: yellow
}

.searchbar{
	width: 50%;
	margin-left: 100px;
	margin-bottom: 30px;
	height:20px;
	font-size: 15px;
}

.box{
	border: 1px solid #D3D3D3;
	display: inline-block;
	padding: 7px;
	padding-right:5px
	margin-left margin-right:7px;
}

.softcorner{
	border-radius: 3px;
}

.center {
    margin-left: 90px;
    width: 50%;
    padding: 10px;
}













